.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 3rem;

  background-color: #198754;
  color: white;
  font-size: xx-large;
  text-align: center;
}
